.bold {
    font-weight: bold;
    font-size: 20px;
}
.cent {
    display: inline-block;
}
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
}
.container {
    width: 800px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: red;
}
.rules, .forbidden, .duties {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 48%;
    vertical-align: top;
}
h3 {
    text-align: center;
    color: red;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
.duties .column {
    width: 45%;
}
.image {
    text-align: center;
    margin-top: 10px;
}
.container1 {
    position: relative;
    width: 800px; /* Размер блока с фоном */
    height: 500px; /* Высота блока */
    margin: 50px auto;
    background: url('road-mountain-ski-resort-surrounded-by-fir-trees_181624-46812.avif') no-repeat center;
    background-size: cover;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text-block {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.images {
    
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.image-box {
    position: relative;
    width: 250px;
    height: 150px;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
